body{
    text-align: center;
    font-style:normal;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}

.head{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #f8239f;
}

input{
    width: 150px;
}

.type input{
    width: 100px;
}

button{
    width: 100px;
    height: 35px;
    margin-top: 4rem;
    background-color: #f8239f;
    border-radius: 7px;
    color: white;
}

.brain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    height: 10rem;
}

a{
    color: rgba(136, 141, 145, 0.849);
    text-decoration:underline;
}

.ninga{
    padding-bottom: 5rem;
    background-color: rgba(222, 233, 241, 0.849);
}

ul{
    list-style-type: none;
    text-align: left;
}

ul li{
    border: 1px solid rgb(199, 188, 188);
}
ul h4{
    color:  #f8239f;
    margin: 0.5rem;
}

ul p{
    margin: 0.5rem;
}